Skip to Content
All locations
Change in all locations
Want to translate this page?
Select Language
​
▼
Share This Page
Search
HELP
SIGN IN
Vantage Point Charter
:        
Enrollment
:    
            Admission Requirements        
Screen Name:
Click here if you forgot your screen name or password
Password:
Click here to Sign Up
Top Slideshow
Vantage Point
CHARTER SCHOOL
Slide Show Content Previous Slide
Slide Show Content Next Slide
Fullscreen
Play
Pause
1/1
Global Main Navigation
About Us
|
Staff Directory
|
Students
|
Parents
|
Enrollment
|
Curriculum
|
Community
|
Other Schools
Kahn Academy
Zingy Science
What is a Charter?
Our Program
History
Mission and Purpose
Educational Beliefs and Goals
Principal
Admissions (K-12)
Local Control and Accountability Plan (LCAP)
What our students are saying
Brochure
Math Tutoring
Electives
Regional Occupational Program (ROP)
Sierra College High School Academic Enrichment
Sports
PARTNERS Family Resource Center (FRC)
Friendship Club
Affordable Internet
Grass Valley Recreation
Penn Valley Little League
Samba Sports Arena
Gold Country Gymnastics
ParentU Technology Workshop
NCNEO
District Policies
Charter Advisory Council (CAC)
Expected Schoolwide Learning Results (ESLR)
2017/18 School Calendar
Admission Requirements
New Enrollment - Parent Acknowledgement
Release of Information
Penn Valley Union Elementary School District
Pleasant Valley Elementary
Ready Springs Elementary
Williams Ranch Elementary
Admission Requirements
Admission Requirements
Students will be considered for admission without regard to ethnicity, national origin, gender or disability. Student or parent residence must fall within the parameters established by the State Department of Education.
If the number of students wishing to attend Vantage Point Charter exceeds the school’s capacity, preference will be extended to pupils currently attending Vantage Point Charter, siblings of pupils currently enrolled, and pupils who reside in the School District. If necessary, a waiting list will be established on a first-come first-served basis.
Those students who live within the school district who choose not to attend Vantage Point Charter will attend the school within their district attendance boundary.
Vantage Point Charter will not accept enrollment of new students after the P2 reporting deadline of the school year.
Prior to being admitted into Vantage Point Charter, each student and parent will be required to:
Demonstrate an understanding of the philosophy and expected student outcomes of Vantage Point Charter
Create an educational plan for the student’s learning
For Independent Study, student and parent will be required to sign a Master Agreement which includes affirmation of:
The parent’s responsibility, availability, and ability to provide instructional services to the student
Involvement of the parent in academic teaching and support
Commitment of the parent of elementary grade students to attend scheduled weekly meetings with Vantage Point Charter teachers or principal.   When an exception exists that will clearly benefit the student, bi-weekly meetings may be scheduled at recommendation of the teacher and approval of the administrator.
Commitment of the high school grade student to attend scheduled weekly meetings with Vantage Point Charter teachers or principal.  When an exception exists that will clearly benefit the student, bi-weekly meetings may be scheduled at the recommendation of the teacher and approval of the administrator.
A master agreement is required each semester or trimester, depending on grade level, for admission.
Footer Address
    <p>IFRAME support required.</p>
translate monitor
Original text
Contribute a better translation